.blogContainer{
    margin-bottom: 3rem;
}
.blogContainer h2{
    color: #FC2120;
    text-align: center;
    margin-bottom: 4rem;
}
.card-body .card-text{
        font-size: 16px;
        font-weight: 600;
        -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    display: -webkit-box !important;
}

ul{
    margin-bottom: 9px;
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 13px;
    color: #999;

}
.card-body ul li{
    margin: 0;
    padding: 0;
    display: inline;
    color: #B8B8B9 !important;

}
.card-img-top{
    padding: 0px;
    /* border-radius: 6rem; */
}
.blog_card{
    border-radius: 6rem;

}


.card-text-details{
    font-size: 14px;
}

.card-body .card-text-details{
    font-family: "Lato", Sans-serif;
    font-size: 14px;
    color: #333333 !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    display: -webkit-box !important;
    margin-bottom: 0px;
}


@media only screen and (max-width:900px){

    .cardContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}