
#nav__container_blog{
    position: relative;
    /* top: -22px; */

}
 span .bi-menu-up{
    display: none;
    position: absolute;
    right: .5rem;    

}
.bi-search::before{
    padding-top: 1rem;
    color: white;

}


    .li_blog{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .li_blog li::after{
        content: " ";

    }

@media only screen and (max-width:620px) {
    #nav__container_blog{
        /* position: relative; */
        width: 100%;
    }

    .search_icon{
        display: none;
    }
    span .bi-menu-up{
    display: block !important; 
}
nav .toggle{
    /* display: none !important; */
    top: 4rem;
        
    }
    nav ul li{
        font-size: larger;
    }
    .li_blog{
        display: block;
        background-color: #171425;
        width: 100%;
        position: fixed;
        top: -35rem;
        left: -10px;
        z-index: 2;
        line-height: 3;
        transition: all .5s;
        overflow: hidden;
        }
   
    .navToggle{
        display: block !important;
    }
}